//- index.jade
extends ./layout.jade

block vars
  - var title = 'mnsuk demonstrations'
block main-content
    script.
      var user = '!{user}'
    header#mnsTest
      div.header-content
        div.header-content-inner
          h1 Demonstrations
          h3
            | Brought to you by
            i  mnsuk

          a.btn.btn-primary.btn-lg#enter Enter
