html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

a {
    color: rgb(129,53,44);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #2C7982;
}

p {
    font-size: 16px; 1.6rem;
    line-height: 1.5;
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url('../images/impbg.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#mnshdr {
	background-image: none;
	background-color: white;
}


#w3login {
  border-color: #4178be;
  color: white;
  background-color: #4178be;
  text-transform: none;
}

#w3login:hover,
#w3login:focus,
#w3login:active {
    border-color: #11487e;
    color: white;
    background-color: #11487e;
}

#nluStatus {
  margin-left: 5px;
}

#results {
  text-align: left;
  margin: 1px;
  border: 1px solid #cccccc;
  border-radius: 4px;
	background-color: #f5f5f5;
  max-height:calc(100vh - 300px);
  overflow-y:scroll;
  width:100%;
}

#resultsJSON {
  max-height:calc(100vh - 300px);
  min-height: 400px;
  overflow-y:scroll;
}

.demo-title {
  color: rgb(244,244,244);
  background-color: #1d3649;
  padding: 5px
}

#conversation.panel .demo-title {
  color: rgb(119,118,119);
  background-color: white;
  padding: 5px
}

#reevoo.panel .demo-title, #nhtsa.panel .demo-title, #volvo.panel .demo-title {
  color: white;
  background-color: #3b6caa;
  padding: 5px
}

#gdpr.panel .demo-title,  #case.panel .demo-title,{
  color: yellow;
  background-color: black;
  padding: 5px
}

.demo-icon {
  margin-bottom: 5px;
  background-color: white;
  margin-top: 5px;
  padding: 5px
}

#wks.panel .demo-icon {
  background-image: url("/images/wksScreen.png");
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5px;
}

#conversation.panel .demo-icon {
  background-image: url("/images/soccerball.png"), url("/images/Conversation_pictogram.svg");
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5px;
}

#reevoo.panel .demo-icon {
  background-image: url("/images/reevooLogo.png");
  height: 80px;
  background-size: 80% 70%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5px;
}

#nhtsa.panel .demo-icon {
  background-color: #3b6caa;
  background-image: url("/images/logo-NHTSA-white.svg");
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5px;
  margin: 0px;
}

#gdpr.panel .demo-icon {
  margin: 0px;
  background-image: url("/images/gdprFlag.jpeg");
  height: 90px;
  color: yellow;
  text-align: right;
  padding-right: 40px;
  padding-top: 25px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#volvo.panel .demo-icon {
  background-color: #3b6caa;
  background-image: url("/images/truck.jpg");
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5px;
  margin: 0px;
}

#case.panel .demo-icon {
  background-image: url("/images/Flexrate.png");
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5px;
}
.demo-desc {
  padding: 8px
}

.demo-control {
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 5px
}

.demo-launch-box {
  padding: 5px
}

.model-loading {
    border: 10px solid #2c7982; /* Light grey */
    border-top: 10px solid #81352c; /* green */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin:auto;
}

.service-credentials-item {
	padding: 10px;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.skyStatus {
  height: 30px;
}
.skyStatus img {
  height: 25px;
  width: 20px
}

.skyControls {
  height: 30px;
display: inline-block;
border-left-color: black;
border-left-width: 1px;
border-left-style: solid;
padding-left: 8px;
margin-left: 5px;
}

.example-dropzone{
  color:black;
}

.entityType0 {
  background: orange;
  color: white;
  padding: 0px 3px 0px 3px;
}

.entityType1 {
  background: blue;
  color: white;
  padding: 0px 3px 0px 3px;
}

.entityType2 {
  background: purple;
  color: white;
  padding: 0px 3px 0px 3px;
}

.entityType3 {
  background: midnightblue;
  color: white;
  padding: 0px 3px 0px 3px;
}

.entityType4 {
  background: crimson;
  color: white;
  padding: 0px 3px 0px 3px;
}

.entityType5 {
  background: teal;
  color: white;
  padding: 0px 3px 0px 3px;
}

.entityType6 {
  background: brown;
  color: white;
  padding: 0px 3px 0px 3px;
}

.entityType7 {
  background: grey;
  color: white;
  padding: 0px 3px 0px 3px;
}

.entityType8 {
  background: hotpink;
  color: white;
  padding: 0px 3px 0px 3px;
}

.entityType9 {
  background: steelblue;
  color: white;
  padding: 0px 3px 0px 3px;
}

.entityType10 {
  background: darkorchid;
  color: white;
  padding: 0px 3px 0px 3px;
}

.entityType11 {
  background: darkseagreen;
  color: white;
  padding: 0px 3px 0px 3px;
}

.entityType12 {
  background: thistle;
  color: white;
  padding: 0px 3px 0px 3px;
}

.entityType13 {
  background: tomato;
  color: white;
  padding: 0px 3px 0px 3px;
}

.entityType14 {
  background: dodgerblue;
  color: white;
  padding: 0px 3px 0px 3px;
}

.entityType15 {
  background: yellow;
  color: black;
  padding: 0px 3px 0px 3px;
}

.entityType16 {
  background: antiquewhite;
  color: black;
  padding: 0px 3px 0px 3px;
}

.entityType17 {
  background: greenyellow;
  color: black;
  padding: 0px 3px 0px 3px;
}

.entityType18 {
  background: powderblue;
  color: black;
  padding: 0px 3px 0px 3px;
}


header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px 70px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 300;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

	header .header-content .header-content-inner h1 {
    	font-size: 100px;
		}

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}

.section-heading {
    margin-top: 0;
    margin-bottom: 20px;
}

.intro {
	color: #fff;
    background-color: rgb(129,53,44);
    padding: 70px 0;
    text-align: center;
}

.content {
    padding: 100px 0;
}

.content-2 {
	color: #fff;
    background-color: #222;
}

.content-3 {
	padding: 20px 0 40px;
	text-align: center;
}

.promo,
.promo h3,
.promo a:link,
.promo a:visited,
.promo a:hover,
.promo a:active {
    color: white;
	text-shadow: 0px 0px 40px black;
    text-decoration: none;
}

.promo-item {
    height: 200px;
    line-height: 180px;
    text-align: center;
}

.promo-item:hover {
    background-size: 110%;
    border: 10px solid rgba(255,255,255,0.3);
    line-height: 160px;
}

.promo-item h3 {
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
}

.item-1 {
	background: url('../images/writing.jpg');
	}

.item-2 {
	background: url('../images/concert.jpg');
	}

.item-3 {
	background: url('../images/pencil_sharpener.jpg');
	}

.item-1,
.item-2,
.item-3 {
	background-size: cover;
	background-position: 50% 50%;
	}

.page-footer {
	text-align: center;
	}

.page-footer .contact {
	padding: 100px 0;
	background-color: rgb(129,53,44);
	color: #fff;
	}

.page-footer .contact p {
	font-size: 22px;
	font-weight: 300;
	}

.content-3 .glyphicon,
.page-footer .contact .glyphicon {
	font-size: 32px;
	font-weight: 700;
	}

.page-footer .small-print {
	padding: 50px 0 40px;
	font-weight: 300;
	}

.text-light {
    color: rgba(255,255,255,.7);
}

.navbar-default {
    border-color: rgba(34,34,34,.05);
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    color: rgb(129,53,44);
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: rgb(129,53,44);
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: rgb(129,53,44)!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
        letter-spacing: 0.5em;
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix .navbar-default.affix-top{
        border-color: #fff;
        background-image: url('../images/hdr.jpg');
        box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.1);
    }

	.navbar-default.affix-top{
        border-color: #fff;
        background-image: url('../images/hdr.jpg');
        box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.1);
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        letter-spacing: 0;
        color: rgb(129,53,44);
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: rgb(129,53,44);
    }
}

.btn-default {
    border-color: rgb(129,53,44);
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #CCA8A3;
    color: #222;
    background-color: #CCA8A3;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn-primary {
    border-color: rgb(129,53,44);
    color: #fff;
    background-color: rgb(129,53,44);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-secondary {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #2C7982;
    color: #fff;
    background-color: #2C7982;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: rgb(129,53,44);
    background-color: rgb(129,53,44);
}

.btn-primary .badge {
    color: rgb(129,53,44);
    background-color: #fff;
}


.btn {
    border-radius: 300px;
    text-transform: uppercase;
}

.btn-lg {
    padding: 15px 30px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

.text-primary {
    color: rgb(129,53,44);
}

.bg-primary {
    background-color: rgb(129,53,44);
}

/* mns additions */
.page-header {
  margin-top: 50px;
  padding-top: 9px;
}

.imp-err {
  color: #d9534f;
}

.imp-msg {
  color: #428bca;
}

.container#mnsfade {
  opacity: 1;
  transition: 2s opacity;
}

.container.fade-out#mnsfade{
  opacity: 0;
  transition: none;
}

.gap-5 {
  width: 100%;
  height: 5px;
}

.gap-10 {
  width: 100%;
  height: 10px;
}

.gap-20 {
  width: 100%;
  height: 20px;
}

.gap-30 {
  width: 100%;
  height: 30px;
}

.message-image {
  margin-top:  1rem;
  height: 35vh;
  display: inline-block;
  border-radius: inherit;
}

.message-iframe-compact {
  height: 35vh;
  width: 90%;
  border-radius: 0;
}

.message-iframe-tall {
  height: 70vh;
  width: 90%;
  border-radius: 0;
}

.user-icon {
  opacity: 0.5;
}

img.user-icon {
  height: 40px;
}

#chat-column-holder {
  text-align: center;
}

.chat-column {
  height: 100%;
  padding: 0.9375rem 0 0.625rem 0;
  margin: auto;
  text-align: left;

  min-width: 9.375rem;
}

#scrollingChat {
  margin: 0.75rem;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 4rem);
}

.message-inner {
  opacity: 0;
  margin-top: 0.9375rem;
  -webkit-transition-property: opacity, margin-top;
  -webkit-transition-duration: 0.75s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-property: opacity, margin-top;
  -moz-transition-duration: 0.75s;
  -moz-transition-timing-function: ease-in;
  -o-transition-property: opacity, margin-top;
  -o-transition-duration: 0.75s;
  -o-transition-timing-function: ease-in;
  -ms-transition-property: opacity, margin-top;
  -ms-transition-duration: 0.75s;
  -ms-transition-timing-function: ease-in;
  transition-property: opacity, margin-top;
  transition-duration: 0.75s;
  transition-timing-function: ease-in;
}

.load .message-inner {
  opacity: 1;
  margin-top: 0.3125rem;
}

.from-user {
  text-align: right;
}

.from-user .message-inner {
  position: relative;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.015rem;
  line-height: 1.3125rem;
  background: #2c7982;
  border-radius: 1.25rem;
  border-bottom-right-radius: 0;
  text-align: left;
  display: inline-block;
  margin-left: 2.5rem;
  min-width: 2.5rem;
}

.from-user .message-inner p {
  margin: 0.3125rem;
  padding: 0 0.9375rem;
}

.from-user .message-inner:before, .from-user .message-inner:after {
  content: "";
  position: absolute;
}


.from-user .message-inner:before {
  z-index: -2;
  bottom: -0.375rem;
  right: 0;
  height: 0.375rem;
  width: 0.5rem;
  background: #1cb3a0;
}

.from-user .message-inner:after {
  z-index: -1;
  bottom: -0.5rem;
  right: 0;
  height: 0.5rem;
  width: 0.5rem;
  background: #fff;
  border-top-right-radius: 1.25rem;
}

.from-watson .message-inner {
  position: relative;
  border-radius: 1.5625rem;
  font-size: 1rem;
  color: #B5B5B5;
  letter-spacing: 0.015rem;
  line-height: 1.3125rem;
}

.from-watson.latest .message-inner {
  color: #323232;
}

.from-watson p {
  margin: 0.3125rem;
  padding: 0 1.25rem;
}

.from-watson.latest.top p:before {
  content: ".";
  color: #81352c;
  background-image: url("../images/marker_image2.png");
  /*background-size: 0.3125rem 1.3125rem;*/
  background-size: 0.4762rem 2.0rem;
  position: absolute;
  z-index: 2;
  left: 0.4375rem;
  /*left: 0.4375rem;*/
  /*width: 0.3125rem;*/
  width: 0.4762rem;
  /*height: 1.3125rem;*/
  height: 2.0rem;
  /*line-height: 1.3125rem;*/
  line-height: 2.0rem;
}

#textInput {
  border: none;
  outline: none;
  background: transparent;
  /*font-size: 1rem;*/
  color: #323232;
  letter-spacing: 0.015rem;
  line-height: 1.3125rem;
  height: 2.5rem;
  max-width: 100%;
  padding-left: 0.125rem;
  margin-bottom: -0.125rem;
  /*font-family: Helvetica Neue for IBM, Helvetica Neue, Helvetica, Arial, sans-serif;*/

}

#textInput.underline {
  border-bottom: 2px solid #2c7982;
}

::-webkit-input-placeholder {
  color: #B5B5B5;
}

::-moz-placeholder {
  color: #B5B5B5;
  opacity:  1;
}

input:-moz-placeholder {
  color: #B5B5B5;
  opacity:  1;
}

:-ms-input-placeholder {
  color: #B5B5B5;
}

::-ms-clear {
  display: none;
}

.inputOutline {
  display: block;
  border-bottom: 0.0625rem solid #aeaeae;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#textInputDummy {
  position:absolute;
  white-space:pre;
  top: 0;
  left: -1000%;
  opacity: 0;
}

.floatingBarsG{
	position:relative;
	width:20px;
	height:25px;
	margin:auto;
  z-index: 10;
  visibility: hidden;
}

.blockG{
	position:absolute;
	background-color:rgb(255,255,255);
	width:3px;
	height:8px;
	border-radius:3px 3px 0 0;
		-o-border-radius:3px 3px 0 0;
		-ms-border-radius:3px 3px 0 0;
		-webkit-border-radius:3px 3px 0 0;
		-moz-border-radius:3px 3px 0 0;
	transform:scale(0.4);
		-o-transform:scale(0.4);
		-ms-transform:scale(0.4);
		-webkit-transform:scale(0.4);
		-moz-transform:scale(0.4);
	animation-name:fadeG;
		-o-animation-name:fadeG;
		-ms-animation-name:fadeG;
		-webkit-animation-name:fadeG;
		-moz-animation-name:fadeG;
	animation-duration:1.2s;
		-o-animation-duration:1.2s;
		-ms-animation-duration:1.2s;
		-webkit-animation-duration:1.2s;
		-moz-animation-duration:1.2s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

.rotateG_01{
	left:0;
	top:9px;
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
	transform:rotate(-90deg);
		-o-transform:rotate(-90deg);
		-ms-transform:rotate(-90deg);
		-webkit-transform:rotate(-90deg);
		-moz-transform:rotate(-90deg);
}

.rotateG_02{
	left:3px;
	top:3px;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
	transform:rotate(-45deg);
		-o-transform:rotate(-45deg);
		-ms-transform:rotate(-45deg);
		-webkit-transform:rotate(-45deg);
		-moz-transform:rotate(-45deg);
}

.rotateG_03{
	left:8px;
	top:1px;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
	transform:rotate(0deg);
		-o-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
}

.rotateG_04{
	right:3px;
	top:3px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
	transform:rotate(45deg);
		-o-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
}

.rotateG_05{
	right:0;
	top:9px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
	transform:rotate(90deg);
		-o-transform:rotate(90deg);
		-ms-transform:rotate(90deg);
		-webkit-transform:rotate(90deg);
		-moz-transform:rotate(90deg);
}

.rotateG_06{
	right:3px;
	bottom:2px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
	transform:rotate(135deg);
		-o-transform:rotate(135deg);
		-ms-transform:rotate(135deg);
		-webkit-transform:rotate(135deg);
		-moz-transform:rotate(135deg);
}

.rotateG_07{
	bottom:0;
	left:8px;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
	transform:rotate(180deg);
		-o-transform:rotate(180deg);
		-ms-transform:rotate(180deg);
		-webkit-transform:rotate(180deg);
		-moz-transform:rotate(180deg);
}

.rotateG_08{
	left:3px;
	bottom:2px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
	transform:rotate(-135deg);
		-o-transform:rotate(-135deg);
		-ms-transform:rotate(-135deg);
		-webkit-transform:rotate(-135deg);
		-moz-transform:rotate(-135deg);
}



@keyframes fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}
